DMARKET_API_KEY=your_public_api_key_hex_lowercase
DMARKET_SECRET_KEY=your_secret_key_hex
DMARKET_AUTHORIZATION=
DMARKET_BASE_URL=https://api.dmarket.com
DMARKET_REQUEST_TIMEOUT_MS=20000
DMARKET_MAX_RETRIES=3
DMARKET_PRICE_IN_COINS=true
DMARKET_AGGREGATED_PRICES_IN_COINS=false
DMARKET_TARGETS_BY_TITLE_PRICES_IN_COINS=false
DMARKET_REQUEST_MIN_INTERVAL_MS=300
DMARKET_REQUEST_JITTER_MS=120

BOT_INTERVAL_MINUTES=15
BOT_DRY_RUN=true
BOT_STATE_PATH=data/managed-targets.json
ANALYSIS_OUTPUT_PATH=data/opportunities-report.txt
ANALYSIS_MIN_TARGET_PRICE_USD=30
ANALYSIS_MIN_MONTHLY_SALES=10
ANALYSIS_SALES_CONCURRENCY=1
ANALYSIS_TARGETS_CONCURRENCY=1
DMARKET_GAME_ID=a8db
DMARKET_CURRENCY=USD

STRATEGY_SCAN_PAGES=5
STRATEGY_PAGE_SIZE=100
STRATEGY_AGGREGATE_CHUNK_SIZE=60
STRATEGY_SALE_COMMISSION_PCT=2
STRATEGY_QUICK_SALE_DISCOUNT_PCT=0.5
STRATEGY_MIN_PROFIT_USD=0.08
STRATEGY_MIN_ROI_PCT=2.5
STRATEGY_MIN_SPREAD_USD=0.05
STRATEGY_BID_STEP_USD=0.01
STRATEGY_NO_ORDER_BID_RATIO=0.65
STRATEGY_MIN_OFFERS_COUNT=2
STRATEGY_MIN_ORDERS_COUNT=1
STRATEGY_MAX_BUY_PRICE_USD=40
STRATEGY_MIN_BUY_PRICE_USD=0.1
STRATEGY_MAX_MANAGED_TARGETS=30
STRATEGY_NEW_TARGETS_PER_CYCLE=10
STRATEGY_MAX_AMOUNT_PER_TARGET=1
STRATEGY_BALANCE_USAGE_RATIO=0.8
STRATEGY_MAX_BUDGET_USD=250
STRATEGY_MIN_PRICE_UPDATE_DELTA_USD=0.005
